/* RESET */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  background-color: #f6f5f3;
}

/* UTILS */

.debug,
.debug * {
  min-height: 100px;
  padding: 5px;
  background-color: rgb(250, 108, 108);
  border: 2px dashed red;
}

.container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;

  margin-left: 1rem;
  margin-right: 1rem;
}

[class*="col"] {
  padding-left: 1rem;
  padding-right: 1rem;
}

.col-1-2 {
  width: calc(100% / 2);
}

.col-1-3 {
  width: calc(100% / 3);
}

.col-1-4 {
  width: calc(100% / 4);
}

.col-2-3 {
  width: calc(100% / 3 * 2);
}

/* HEADER  */

.page-header {
  background-color: white;
  text-align: center;
  padding: 1rem 0;
  color: #ff9614;
  margin-bottom: 1rem;
}

/* MAIN  */

/* SECTION DESSERT  */

.content {
  padding: 1rem;
}

.content li {
  margin-bottom: 0.5rem;
}

.dessert .card {
  background-color: white;
}

.dessert h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.content h3 {
  margin-bottom: 1rem;
}

/* SECTION SOCIAL  */

.section-social .container {
  display: flex;
  justify-content: space-between;
}

.element-social {
  background-color: white;
  border-radius: 99px;
  padding: 1rem;
}

.section-social {
  margin: 2rem auto;
}

.name-social {
  display: none;
}

/* SECTION BANNER  */

.banner {
  display: none;
}

/* SECTION PRESENTATION */

.break {
  width: 20%;
  border: 1px solid orange;
}

.img-dessert {
  width: 50%;
  margin: 1rem auto;
}

.presentation h2 {
  margin-bottom: 1rem;
}

/* FOOTER */

.page-footer {
  background-color: #7c69a4;
  color: white;
  padding: 1rem 2rem;
}

.page-footer .container {
  text-align: center;
}

.links {
  flex-wrap: wrap;
}

.links li {
  display: inline-block;
  margin-right: 1rem;
  margin-top: 1rem;
}

.links a {
  text-decoration: underline;
  color: white;
}

.page-footer h4 {
  margin-bottom: 0.5rem;
}
